.card-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
	margin-bottom: -2rem;

	&__item {
		flex-basis: 100%;
		margin-bottom: 2rem;
	}

	@include breakpoint(tablet) {
		.card-list__item {
			flex-basis: calc(50% - 1rem);
		}
	}
}
