.floors-picker {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	width: 100%;

	&__sidebar {
		flex-basis: 100%;
		width: 100%;
		flex-grow: 0;
		flex-shrink: 0;
		margin-right: 2rem;
		margin-bottom: 2rem;
	}

	&__content {
		flex-grow: 1;
	}

	@include breakpoint(tablet) {
		flex-direction: row;

		.floors-picker__sidebar {
			flex-basis: 23rem;
			margin-bottom: 0;
		}
	}
}

.floors-picker-content {
	&__search {
		margin-bottom: 2rem;
	}

	&__blocks {

	}
}
