.nav-panel {
	border-radius: 0.8rem;
	overflow: hidden;
	background: #fff;
	box-shadow: 1px 1px 6px #E5E5E5;

	&__item {}
}

.nav-panel-item {
	font-size: 1.6rem;
	line-height: 2.4rem;

	&__inner {
		display: block;
		cursor: pointer;
	}

	&__control {
		display: none;
	}

	&__control:checked + &__content {
		background: #e3f2fd;
	}

	&__content {
		display: flex;
		align-items: center;
		padding: 1em 1.25em ;
		transition: background-color $animation-speed ease-in-out;
		text-transform: uppercase;
	}

	&__title {
		word-break: break-all;
	}

	&__title + &__counter {
		margin-left: 0.85em;
	}

	&__counter {
		font-size: 0.875em;
		line-height: 1.43;
		background: #eeeeee;
		padding: 0.14em 0.42em;
		border-radius: 0.25em;
	}
}
