$base-font-size: 10px;
$base-line-height: 1.3;

$base-font-family: "Roboto", Helvetica, sans-serif;
$alt-font-family: "Roboto", Helvetica, sans-serif;

$site-max-width: 1300px;
$site-min-width: 320px;

$breakpoint-projectors: 1200px;
$breakpoint-desktop: 1024px;
$breakpoint-tablet: 768px;
$breakpoint-phablet: 576px;
$breakpoint-mobile: 320px;

$base-font-color: $color--black;
$animation-speed: 0.2s;
