mixin floors-picker-sidebar-item(data = {})
    -
        const {
            title = 'Все блоки',
            amount = 59,
            radio_value = 1,
            isChecked = false
        } = data;

    .floors-picker-sidebar__item.floors-picker-sidebar-item
        label.floors-picker-sidebar-item__inner
            input.floors-picker-sidebar-item__control(type="radio" name="picker-group" value=radio_value checked=isChecked)
            .floors-picker-sidebar-item__content
                .floors-picker-sidebar-item__title
                    =title
                .floors-picker-sidebar-item__counter
                    =amount
