$breakpoint-projectors: 1200px !default;
$breakpoint-desktop: 1024px !default;
$breakpoint-tablet: 768px !default;
$breakpoint-phablet: 576px !default;
$breakpoint-mobile: 320 !default;

$breakpoints: projectors, desktop, tablet, phablet, mobile;

@mixin breakpoint($point) {
	@if $point == projectors {
		@media (min-width: $breakpoint-projectors) { @content; }
	}
	@else if $point == desktop {
		@media (min-width: $breakpoint-desktop) { @content; }
	}
	@else if $point == tablet {
		@media (min-width: $breakpoint-tablet) { @content; }
	}
	@else if $point == phablet {
		@media (min-width: $breakpoint-phablet) { @content; }
	}
	@else if $point == mobile {
		@media (min-width: $breakpoint-mobile) { @content; }
	}
}

@mixin breakpoint-width($max-width) {
	@media (max-width: $max-width) { @content; }
}

@mixin breakpoint-height($max-height) {
	@media (max-height: $max-height) { @content; }
}

@mixin breakpoint-width-height($max-width, $max-height) {
	@media (max-width: $max-width), (max-height: $max-height) { @content; }
}
