$ratio-list: (
		1 1,
		16 9,
		32 9
);

@mixin ratio-stretch() {

	@each $list in $ratio-list {
		$pos1: nth($list, 1);
		$pos2: nth($list, 2);
		$selector: #{&}--#{$pos1}x#{$pos2};

		&#{$selector}::before {
			padding-top: ($pos2 / $pos1) * 100%;
		}
	}
}

@mixin ratio-stretch-attr() {
	$attr: "[data-object-ratio]";
	$len: str-length($attr);

	@each $list in $ratio-list {
		$pos1: nth($list, 1);
		$pos2: nth($list, 2);
		$selector: str-insert($attr, "=\"#{$pos1}x#{$pos2}\"", $len);

		&#{$selector}::before {
			padding-top: ($pos2 / $pos1) * 100%;
		}
	}
}

@mixin stretch-container() {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
